@import url('https://fonts.googleapis.com/css?family=Open+Sans|Ubuntu');
@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');
@import url('https://fonts.googleapis.com/css?family=Raleway');




refer {
    font-family: 'Raleway', sans-serif;

}

info {
    font-family: 'Source Code Pro', monospace;
     color: black;
}
cre {
font-family: 'Press Start 2P', cursive;
color: #efff00;
margin-left: 2em;
font-size: 10px;
}



hr { 
    display: block;
    color: #000;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 10em;
    margin-right: 10em;
    border-style: double;
    border-width: 1px;
} 

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}


input[type=text], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ad125b;
    border-radius: 0px;
    box-sizing: border-box;
}

input[type=password], select {
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ad125b;
    border-radius: 0px;
    box-sizing: border-box;
}

input[type="submit"] {
	
	display: inline-block;
	height: 38px;
	padding: 0 30px;
	color: #fff;
	text-align: center;
	font-size: 11px;
	font-weight: 600;
	line-height: 38px;
	letter-spacing: .1rem;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	background: #000000;
	border-radius: 0px;
	border: 0;
	cursor: pointer;
	box-sizing: border-box;
	 -webkit-transition-duration: 0.4s; 
    transition-duration: 0.4s;
	opacity: 0.6;
}
input[type="submit"]:hover {
	background: #585858;
	text-decoration: none;
	opacity: 0.9;
	 box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.74),0 17px 50px 0 rgba(0, 0, 0, 0.7);
}




.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.collapsible {
    background-color: #adf;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #872c2c;
}

.collapsible:after {
    content:" Maximize "  '\002B';
    color: #000000;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.active:after {
    content: " Minimize "  "\2212";
}


.content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #ffffff00;
}




