language: php


php:
  - 5.4
  - 5.5
  - 5.6
  - 7.0
  - 7.1
  - 7.2
  - hhvm


before_script:
  - composer self-update

script: phpunit

matrix:
  allow_failures:
    - php: 7.2
    - php: hhvm
  fast_finish: true


notifications:
    on_success: never
    on_failure: always
